* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, purple,aquamarine,green);
    background-size: 300%, 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #68d6a3ff;
    
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.navegacao {
    display: flex;
    gap: 50px;
    color: white;
}

.link {
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.link:hover {
    color: #2f9766;
}

.carrinho {
    border: none;
    background-color: #68d6a3ff;
    cursor: pointer;
}

.btn-carrinho {
    background: none;
    border: none;
    cursor: pointer;
}
